USE [master]
GO
/****** Object:  Database [ORG_EMPRESA]    Script Date: 9/12/2023 18:49:10 ******/
CREATE DATABASE [ORG_EMPRESA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ORG_EMPRESA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ORG_EMPRESA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ORG_EMPRESA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ORG_EMPRESA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ORG_EMPRESA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ORG_EMPRESA]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 9/12/2023 18:49:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](20) NULL,
	[Departamento] [nvarchar](100) NULL,
	[IdDeptoJefe] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 9/12/2023 18:49:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](20) NULL,
	[Nombre] [nvarchar](100) NULL,
	[Apellido] [nvarchar](100) NULL,
	[Puesto] [nvarchar](100) NULL,
	[IdJefe] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departamentos] ON 

INSERT [dbo].[Departamentos] ([Id], [Codigo], [Departamento], [IdDeptoJefe]) VALUES (1, N'DEP001', N'Gerencia General', 0)
INSERT [dbo].[Departamentos] ([Id], [Codigo], [Departamento], [IdDeptoJefe]) VALUES (2, N'DEP001', N'Gerencia de Tecnologia', 1)
INSERT [dbo].[Departamentos] ([Id], [Codigo], [Departamento], [IdDeptoJefe]) VALUES (3, N'DEP002', N'Gerencia RRHH', 1)
SET IDENTITY_INSERT [dbo].[Departamentos] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([Id], [Codigo], [Nombre], [Apellido], [Puesto], [IdJefe]) VALUES (1, N'0001', N'Perla', N'Rivas', N'Jefe de Area', 0)
INSERT [dbo].[Empleado] ([Id], [Codigo], [Nombre], [Apellido], [Puesto], [IdJefe]) VALUES (2, N'0002', N'Alexis', N'Rivas', N'Gerente de RRHH', 1)
INSERT [dbo].[Empleado] ([Id], [Codigo], [Nombre], [Apellido], [Puesto], [IdJefe]) VALUES (3, N'0003', N'David', N'Grimaldi', N'Gerente de Tecnologia', 1)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
USE [master]
GO
